:root{
  --prym-color :  #fcde67  ;
  --sec-color : #5bccf6 ;
  --section-color:#030e12;
  /* --prym-color :#000000 ;
  --sec-color :#ff0000 ;
  --section-color:#ffe100; */
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  position: relative;
  overflow: hidden;
}